#body
{
    width: 1280px;
    height: 1600px;
    text-align: center;
    margin: 0 auto;
    padding:5px;
    font-family: Georgia;
}
    #navigation {
        width:1280px;
        font-size:14px;
        position: relative;
        margin: 20px auto;
    }

    #navigation a {
        color:#fff;
        text-decoration:none;
    }

    #navigation nav {
        box-shadow: 0 0 16px -1px #F9F5C3;
        text-transform: uppercase;
        background: #F3E961;
        height:58px;
        border-left:1px solid #F9F5C3;
        border-right:1px solid #F9F5C3;
        z-index:3;
        position: relative;
        width:95%;
        left:2.4%;
    }

    nav a {
        padding:4px 20px;
        border-radius:15px; 
    }

    nav a:hover { background:#A5A5A5; }

    .active-menu {
        padding:5px 25px;
        background:#A5A5A5;
        margin-right:15px;
    }

    #navigation ul {
        padding:0;
        margin:0;
        position: absolute;
        top:40%;
        right:30px;
    }

    #navigation ul li {
        float:left;
        list-style: none;
        margin-left:0;
    }

    #logo {
        position:absolute;
        /*top:30%;*/
        left:5%;
        font-size:22px;
        z-index:4;
        font-style: italic;
        text-shadow: 1px -2px 4px #962215;
    }

    .dark-color {
        position: relative;
        width:100%;
        height: 79px;
        background:#F9F5C3;
    }

    .light-color {
        background: #FFE889;
        z-index: 3;
        position: relative;
        width:102%;
        top:13%;
        left:-1%;
    }

    .arrows {
        position:absolute;
        width:100%;
        height: 100%;
    }

     .arrows span {
        position: absolute;
        width:0;
        height:0;
        border-top: 39px inset transparent;
        border-bottom: 39px inset transparent;
    }

    .ar-left {
        left:0;
        border-left: 10px solid #fff;
        z-index:2;
    }

    .ar-right {
        right:0;
        border-right: 10px solid #fff;
        z-index:2;
    }

    .ar-left2, .ar-right2 {
        border-top: 30px inset transparent !important;
        border-bottom: 30px inset transparent !important;
        top:9.7%;
        z-index:4;
    }

    .ar-left2 {
        left:-1.1%;
        border-left: 12px solid #fff;
    }

    .ar-right2 {
        right:-1%;
        border-right: 12px solid #fff;
    }
    #banner
    {
        width: 1280px;
        height: 400px;
        /*background-color: orange;*/
        margin: 40px auto;
    }
        #banner_patas
        {
            width: 1280px;
            height: 400px; 
        }

    #main_panel
    {
        width: 1280px;
        height: 1000px;
        /*background-color: red;*/
        margin: 0 auto;
    }
        #left_show_t
        {   
            width: 640px;
            height: 400px;
            background-color: #8466ff;
            float: left;
            text-align: center;
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
        }
        #right_show_t
        {
            width: 640px;
            height: 400px;
            background-color: #fffe6a;
            margin: 0 auto;
            text-align: center;
            float: left;
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;

        }
        #left_show_b
        {
            padding-top:20px;
            width: 640px;
            height: 400px;
            background-color: #726114;
            float: left;
            text-align: center;
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
            margin-top:30px;
        }
        #right_show_b
        {
            top:20px;
            width: 640px;
            height: 400px;
            background-color: #ff00fd;
            float: left;
            text-align: center;
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
            margin-top:30px;
        }
    #events
    {
        width: 1280px;
        height: 50px;
        text-align: center;
        background-color: green;
        margin: 30px auto;
        float: left;
    }

    .content {display:none;}
    .preload { 
        width:250px;
        height: 217px;
        position: fixed;
        top: 50%;
        left:50%;
        text-align: center;
        }
